<div class="foods ui grid stackable padded centered">
    <div class="one wide column middle aligned">
        <button class="ui button basic paging" ng-click="previousPage()">&#10092;</button>
    </div>
    <div class="fourteen wide column middle aligned">
        <a href="#/" class="home-button">
            <i class="fa fa-caret-up"></i><br>
            <span class="ui header small">Home</span>
        </a>
        <form ng-submit="search()">
            <div class="ui input search-input">
                <input type="text" ng-model="searchText" placeholder="Search"/>
            </div>
        </form>
        <editable-table items="foods" headers="headers" orderby="orderby" asc="asc" update="update"></editable-table>
        <div class="ui header tiny">Page {{currentPage}}</div>
    </div>
    <div class="one wide column middle aligned">
        <button class="ui button basic paging" ng-click="nextPage()">&#10093;</button>
    </div>
    <div class="fourteen wide column center aligned">
        <div class="ui divider"></div>
        <div class="ui message" style="text-align: left;">
            <div class="header">
                Instructions
            </div>
            <i class="fa fa-question"></i> To <code>Search</code>, enter the item name then press <code>Enter</code><br>
            <i class="fa fa-question"></i> To <code>Edit</code>, click on the table <code>cell</code> and edit the value.
            Press <code>Enter</code> to
            finish.<br>
            <i class="fa fa-question"></i> To <code>Sort</code> by header, click on the table <code>header</code>.
        </div>
    </div>
</div>