<div class="home ui grid stackable centered">
    <div class="six wide column middle aligned">
        <div class="ui header">Know</div>
        <div class="ui header">Your</div>
        <div class="ui header">Food</div>
        <table class="ui table very basic">
            <tbody>
            <tr>
                <td>Fat</td>
                <td class="right aligned">9 kcal/g</td>
            </tr>
            <tr>
                <td>Protein</td>
                <td class="right aligned">4 kcal/g</td>
            </tr>
            <tr>
                <td>Carbohydrates</td>
                <td class="right aligned">4 kcal/g</td>
            </tr>
            </tbody>
        </table>
        <div class="home-enter">
            <a href="#/foods"><i class="fa fa-caret-down"></i></a>
        </div>
    </div>
</div>
