.home {
    height: 100vh;
    width: 100vw;
}

.home .ui.header {
    font-size: 70px;
    margin: 0;
}

.home .home-enter {
    font-size: 70px;
}

.home .home-enter a {
    color: #000;
}

.foods {
    height: 100vh;
    width: 100vw;
}

.foods table > thead tr > th {
    border-bottom: 1px solid #222 !important;
}

.foods .home-button i {
    color: #000;
    font-size: 32px;
}

.foods .home-button p {
    color: #000;
    font-size: 16px;
}

.foods .paging {
    box-shadow: none !important;
    font-size: 60px;
    padding: 0;
}

.foods .ui.input.search-input input {
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    margin: 10px 0;
}

.foods .ui.header {
    margin: 0;
}

table {
    table-layout: fixed;
    min-width: 100%;
}

table td, table th {
    word-wrap: break-word;
}

code {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    padding: 1px 6px;
    vertical-align: baseline;
}